.genre-button-item
{
	height: 60px;
	margin: 0px 15px 15px 0px;
	padding: 0px 25px 0px 25px;
	-unity-font-definition: var(--font-nunito-regular);
	font-size: 40px;
	color: var(--color-contrast-solid);
	-unity-text-align: middle-left;
	border-color: var(--color-border-legacy);
	border-width: var(--value-border-width);
	border-radius: 30px;
}